<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuoA9ff9ceFPYj-6geJnHS1qbkhFj07LY</string>
	<key>GCM_SENDER_ID</key>
	<string>736872799385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todaGo</string>
	<key>PROJECT_ID</key>
	<string>todago-53cbf</string>
	<key>STORAGE_BUCKET</key>
	<string>todago-53cbf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736872799385:ios:5c51a2490cb1ed55e5ac08</string>
</dict>
</plist>